<app-header (navigation)="onNavigation($event)"></app-header>  
  
<div class="container">
  <div *ngIf="navigationString === 'recipes'" class="row">
    <app-recipes></app-recipes>
  </div>
  <div *ngIf="navigationString === 'shoppingList'" class="row">
    <app-shopping-list></app-shopping-list>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-header></app-header>    
      <app-shopping-list></app-shopping-list>
    </div>  
  </div>
</div> -->
